html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 400;
}

main {
  margin-top: 40px;
}

/* custom classes */

.red {
  color: #c9082a;
}

.white {
  color: #ffffff;
}

.blue {
  color: #17408b;
}

.lightblue {
  color: #0181ba;
}

.whitebg {
  background: #ffffff;
}

.bluebg {  
  background: #17408b;
}

.lightbluebg {
  background: #0181ba;
}

/* bootstrap overrides */

.card {
  //max-height: 400px;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.card-text {
  //min-height: 300px;
  //text-overflow: ellipsis;
  //overflow: hidden;
  //white-space: pre-line;
}
