html {
  font-family: sans-serif;  
}

body {
  //background: #003366;
  height: 100%;
}

/* custom classes */

.red {
  color: #dd0000;
}

.white {
  color: #ffffff;
}

.white-bg {
  background: #ffffff;
}

.blue-bg {
  background: #003366;
}

