html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 400;
}

main {
  margin-top: 40px;
}

p {
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: pre-line;
}

/* custom classes */

.red {
  color: #dd0000;
}

.white {
  color: #ffffff;
}

.blue {
  color: #336699;
}

.light-blue {
  color: #0181ba;
}

.white-bg {
  background: #ffffff;
}

.blue-bg {
  //background: #003366;
  background: #17408B;
}

.light-blue-bg {
  background: #0181ba;
}

/* bootstrap overrides */

.card {
  //max-height: 400px;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.card-text {
  //min-height: 300px;
  //text-overflow: ellipsis;
  //overflow: hidden;
  //white-space: pre-line;
}
